<!-- partial:index.partial.html -->
<div class="screen-1">
    <div class="email">
        <label for="email">Email Address</label>
        <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" id="email" name="email"/>
        </div>
    </div>
    <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input class="pas" type="password" id="password" name="password"/>
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
    </div>
    <button class="login" id="login">Login </button>
    <div class="footer"><span>Signup</span><span>Forgot Password?</span></div>
</div>